{% extends "base.html" %}
{% block title %}Pipeline Home{% endblock %}
{% block content %}
<p><i>Welcome {{ first_name | capfirst }}. It is now {{ current_date }}</i></p>
{% load static %}
<a href = "addpost"><img src = "{% static 'pipeline/add_post.png' %}" alt = "Add Post" width = "130px" ></a> 
<a href = "browse/new"><img src = "{% static 'pipeline/browse.png' %}" alt = "Browse" width = "100px" ></a> &nbsp;
<a href = "search"><img src = "{% static 'pipeline/search_term.png' %}" alt = "Search" width = "100px" ></a> &nbsp;
{% if user.username %}
<a href = "profile/{{request.user.id}}"><img src = "{% static 'pipeline/profile.png' %}" alt = "Profile" width = "95px" ></a> &nbsp;
{% else %}
<a href = "profile/0"><img src = "{% static 'pipeline/profile.png' %}" alt = "Profile" width = "95px" ></a> &nbsp;
{% endif %}
<a href = "about"><img src = "{% static 'pipeline/about.png' %}" alt = "About" width = "85px" ></a> &nbsp;&nbsp;
{% if username == 'guest' %}
<a href = "login"><img src = "{% static 'pipeline/login.png' %}" alt = "Login" width = "85px" ></a> &nbsp;
<a href = "signup"><img src = "{% static 'pipeline/signup.png' %}" alt = "Sign Up" width = "105px" ></a> &nbsp;
{% endif %}
{% if username != 'guest' %}
<a href = "logout"><img src = "{% static 'pipeline/logout.png' %}" alt = "Logout" width = "95px" ></a> &nbsp;
{% endif %}
</br>
{% if success %}
<p>Success!!!!</p>
{% endif %}
<h2>Pipeline News</h2>
<ul>Version 1.4:
    </br></br>
    <li>Introducing the Delete button! Press the Delete button on your own posts to remove them</li>
    <li>Redirection implementation- Quicker page transitions. Got rid of most 'Success' pages</li>
    <li>Simplified method for post voting. Got rid of multiple-voting-in-one-click bug</li>
    <li>Increased avatar usage</li>
    <li>Enhanced user profiles</li>

</ul>
<h2>What's new?</h2>
<ul>               
	{% for post in posts %}               
	<li><a href = "/post/{{post.id}}">"{{ post.message }}"</a> - <a href = "/profile/{{post.user.id}}">{{ post.user.username | capfirst }}</a> {% if post.post_date.date == current_date.date %}(Today, {{ post.post_date.time }}){% else %}({{ post.post_date.date }}){% endif %} &nbsp; [{{ post.votes }}]</li>

{% if post.user.profile.avatar == 'no_avatar' %}<img src = "{% static 'avatars/no_avatar.png' %}" alt = "No Avatar" width = "35px">
        {% elif post.user.profile.avatar == 'avatar1' %}<img src = "{% static 'avatars/avatar1.png' %}" alt = "Avatar 1" width = "40px">
        {% elif post.user.profile.avatar == 'avatar2' %}<img src = "{% static 'avatars/avatar2.png' %}" alt = "Avatar 2" width = "40px">
        {% elif post.user.profile.avatar == 'avatar3' %}<img src = "{% static 'avatars/avatar3.png' %}" alt = "Avatar 3" width = "40px">
        {% elif post.user.profile.avatar == 'avatar4' %}<img src = "{% static 'avatars/avatar4.png' %}" alt = "Avatar 4" width = "40px">
        {% elif post.user.profile.avatar == 'avatar5' %}<img src = "{% static 'avatars/avatar5.png' %}" alt = "Avatar 5" width = "40px">
        {% elif post.user.profile.avatar == 'avatar6' %}<img src = "{% static 'avatars/avatar6.png' %}" alt = "Avatar 6" width = "40px">
        {% elif post.user.profile.avatar == 'avatar7' %}<img src = "{% static 'avatars/avatar7.png' %}" alt = "Avatar 7" width = "40px">
        {% elif post.user.profile.avatar == 'avatar8' %}<img src = "{% static 'avatars/avatar8.png' %}" alt = "Avatar 8" width = "40px">
        {% elif post.user.profile.avatar == 'avatar9' %}<img src = "{% static 'avatars/avatar9.png' %}" alt = "Avatar 9" width = "40px">
        {% elif post.user.profile.avatar == 'avatar10' %}<img src = "{% static 'avatars/avatar10.png' %}" alt = "Avatar 10" width = "40px">{% endif %}</li>

<form action="/post/{{post.id}}" method="get">
	<input type="submit" name = "q" value="Upvote"></form>
<form action="/post/{{post.id}}" method="get">
	<input type="submit" name = "q" value="Downvote">
</form>
{% if request.user.id == post.user.id %}
    <form action="/post/{{post.id}}" method="get">
    <input type="submit" name = "q" value="Delete" onclick="return confirm('Are you sure?')"></form>
    {% endif %}
</br></br>             
{% endfor %}           
</ul>
<!-- <a href = "delete">Delete today's posts?</a></br> -->
{% endblock %}